<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
   <% if (locals.user) {%>
    <h1>Welcome back <%= user.fullname %></h1>
    <a href="/log-out">Log out</a>
  <% } else { %>
  <h1>Log in to the club</h1>
  <form action="/log-in" method="POST">
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="Your email" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <button type="submit">Log In</button>
  </form>
  <a href="/sign-up">Become a member.</a>
  <%}%>
</body>
</html>